<header class="header">
  <!--<p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank" rel="noopener noreferrer">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
    Generated with FountainJS v1.0.0 on Sat Jun 10 2017 11:45:21 GMT+0530 (India Standard Time)
  </p>-->
    <div class="row">
         <div class="col-sm-6 col-xs-6 col-md-6 nav-1">
             <div class="part-1">
                  <p class=""> <span class="glyphicon glyphicon-globe"></span> Get inspired</p>   
             </div> 
              
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6">
            <div class="part-2">
                  <p class=""> <span class="glyphicon glyphicon-equalizer"></span> Filter & find</p>  
             </div> 
        </div>
    </div>
</header>
