<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
   <!-- <fountain-title></fountain-title>-->
    <fountain-techs></fountain-techs>
  </main>
  <fountain-footer></fountain-footer>
</div>