  <div class="tech" >
       
      <!--<img class="tech-logo" [src]="tech.logo"/>
      <h3 class="tech-h3">
       {{ tech.city }}
      </h3>

<h4 class="tech-h4">
            {{ tech.county }}
           </h4>
      
      <p>{{ tech.text1 }}</p>
      <p>{{ tech.text2 }}</p>-->
      <div class="row">
        <div class="col-sm-8 col-xs-8"  >
          <div class="row">    
          <div class="col-sm-5 col-xs-5">
            <h3 class="tech-h3">
            {{ tech.county }}
           </h3>
          </div>
           <div class="col-sm-7 col-xs-7 retun-flight">
            <p>Return Flight from:</p>
          </div>
         </div>                                 
        <div class="row">   
            <div class="col-sm-5 col-xs-5">
                  <h2 class="tech-h2">
                   {{ tech.city }}
                  </h2>
              </div>
               <div class="col-sm-7 col-xs-7 price-label"> 
                Eur {{tech.price}}
              </div>
         </div> 
            
          <div class="row">   
            <p > {{tech.desc}}
            </p>
         </div>  
            
         <div class="row">
             <button type="button" class="g-btn-btn">Reall All about  {{ tech.city }} ></button>
         </div>
            
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
           <p class="details-footer-time"> <span class="glyphicon glyphicon-time"></span>{{tech.travelTime}}</p>    
             </div>    
         </div>  
            
         <div class="row details-footer-spe" >
            <div class="col-sm-4 col-xs-12 col-md-4" *ngFor="let movie of tech.spr">
                <p> <span class={{movie.icon}}></span>{{movie.descName}}</p>    
             </div>  
            <!-- <div class="col-sm-4 col-xs-12 col-md-4">
                <p> <span class="glyphicon glyphicon-time"></span>Arts & Culture</p>    
             </div>  
             <div class="col-sm-4 col-xs-12 col-md-4">
                <p> <span class="glyphicon glyphicon-time"></span>Arts & Culture</p>    
             </div>  
             <div class="col-sm-4 col-xs-12 col-md-4">
                <p> <span class="glyphicon glyphicon-time"></span>Arts & Culture</p>    
             </div>--> 
         </div>       

            
            <tr *ngFor="let movie of movies">
  <td>{{movie.title}}</td>
</tr>

            
            
        </div>
          
         
          
        <div class="col-sm-4">
          <div class="">
             <img  class="col-sm-11 tech-logo" [src]="tech.logo"/>
          </div> 
          <div class="tif-figure-figcaption">
               <p> <span class="glyphicon glyphicon-time"></span>{{tech.city }}</p>     
           </div>      
        </div>
        
           
        
    </div>
  </div>
