<div class="techs-container">
  <div class="sub-tile">
      <h2 class="techs-h2">
      Travel Guide
      </h2>
  </div>
 <div class="tif-h1">
     <h1 >
      603 destinations
      </h1>
 </div>
 <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 depart">
           <p> <span class="tif-change-departFrom">Departure from: </span>
               <span class="tif-change-origin">Amsterdam - Schiphol (AMS) </span>
           </p>       
    </div>  
    <div class="col-sm-6 col-xs-12 col-md-6">
                
    </div>  
 </div>       
    
  
  <div class="techs">
    <fountain-tech *ngFor="let tech of techs" [tech]="tech"></fountain-tech>
  </div>
</div>