html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
   
   
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  //display: flex;
 // align-items: center;
 // background-color: #1f1f1f;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.techs-container {
  margin: 1rem;
}
.techs-h2 {
  font-weight: 300;
  font-size: 1.5rem;
    padding: 7px;
}
.techs {
/*  display: flex;
  flex-direction:  ;
  flex-wrap: wrap;*/
    
 /* justify-content: space-around;*/
}

.tech {
  /*height: auto;
  width: auto;*/
    height: auto;
    width: 98%;
  border: 1px solid  #005b82;
  border-radius: 1rem;
  margin: 1rem;
  padding: 4rem;
}
.tech-logo {
       width: 125%;
    height: 30rem;
    margin: 0 0 .5rem .5rem;
    margin-left: -14px;
}
.tech-h2 {
  color: #00a1de;
 text-decoration: none;
 font-size: 32px;
    
}
.tech-h3 {
    color: #005b82;
    margin-bottom: 0;
    line-height: 0.8;
    font-size: 24px;
}
.retun-flight{
    display: block;
    font-weight: bold;
    float: right;
    font-size: 13px;
    //padding-left: 15px;
    text-align: right;
    color: #003145;
}
.price-label{
    color: #00a1de;
    text-decoration: none;
    display: block;
    float: right;
    font-size: 13px;
    //padding-left: 15px;
    text-align: right;
}
.detail-disc{
        margin-top: 15px;
        font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0 2px 0 0;
    border: 0;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
        color: #00a1de;
}
.g-btn-btn{
        color: #fff;
    border-radius: 2px;
    background: #07a2de;
    padding: 8px 17px;
    display: inline-block;
}
.details-footer-time{
    float: left;
    color: #005b82;
    margin-right: 15px;
    white-space: nowrap;
    margin-bottom: 5px;
}
.details-footer-spe{
    color: #005b82;
}
.tif-search-destination-image {
    float: right;
    width: 33%;
    /* min-height: 293px; */
}
.tif-figure-figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.8);
    padding: 5px 0 5px 12px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    text: {
    width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        }
}
.nav-1{
     background: #00a1de;
}

.part-1{
    margin-left: 20%;
    margin-top: 3%;
    color: #fff;
   
}
 .part-2{
    margin-left: 20%;
    margin-top: 3%;
      color: #005b82;
}
.sub-tile {
    background-color: #003145;
    height: 2%;
    color: white;
    padding-left: 2%;
}
.tif-h1{
    font-size: 40px;
    color: #00a1de;
    padding-left: 2%;
}
.tif-change-origin {
    color: #00a1de;
    cursor: pointer;
    font-size: 16px;
        line-height: 36px;
   
}
tif-change-departFrom{
     color: #003145;
    font-size: 16px;
}
.depart{
     padding-left: 2%;
}
    
    
